//- 详情页文章正文
div.article-box
  h1.article-title=article.title
  div.article-sub
    a(class="article-type" href='/'+article.categoryPath)=article.categoryLabel
    span.article-author=article.author
    span.article-time=article.strDate      
  div.article-content
    div!=article.content
  div.article-tag
    svg(class="icon" aria-hidden="true")
          use(xlink:href="#icon-402050")
    ul.footer-tag-list
      - for (var x = 0; x < article.keyword.length; x++)
        li
          a(href="#")=article.keyword[x]