//- 首页新闻列表
div.list-box
  ul
    - for (var x = 0; x < artiList.length; x++)
      li
        div.list-content
          div.left-img
            a(class="link-warp" href=artiList[x].articlePath)
              img(src=artiList[x].titleImg, alt="11")
          div.right-news
            div.right-article
              div.article-title
                a(href=artiList[x].articlePath)=artiList[x].title
              div.article-footer
                a(href=artiList[x].categoryPath class="article-type")=artiList[x].categoryLabel
                a(href=artiList[x].articlePath class="article-author") &nbsp;⋅ #{artiList[x].author}     
                a(href=artiList[x].articlePath class="article-time") &nbsp;⋅ #{artiList[x].strDate}
              div.article-view
                a(href=artiList[x].articlePath)
                  svg(class="icon" aria-hidden="true")
                     use(xlink:href="#icon-liulan2")
                  span=artiList[x].view
                a(href=artiList[x].articlePath)
                  svg(class="icon" aria-hidden="true")
                     use(xlink:href="#icon-fabulous")
                  span=artiList[x].like